body {
  margin: 0;
  padding: 0;
}

.post {
  margin: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 5px;
  height: 250px;
}

.post__image {
  flex: 0.3;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.post__info {
  flex: 0.7;
  padding: 15px;
}
